<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
      <head>
        <title>南京工业大学电气工程与控制科学学院时间管理网站后台添加权限</title>
        <meta http-equiv="content-type" content="text/html;charset=utf-8">
        <link href="__PUBLIC__/Admin/css/mine.css" type="text/css" rel="stylesheet">
     </head>
       <link href="__PUBLIC__/css/bootstrap.css" rel='stylesheet' type='text/css' />
		<script src="__PUBLIC__/js/jquery.min.js"></script>
		<script src="__PUBLIC__/js/Chart.js"></script>
		
		<style>
		    #loca{
			 text-align:center;
			}
		    txt{
			 color:gray;
			 font-weight:bold;
			}
		</style>
    <body>

      <!--    <div class="div_head">-->
            <span>
			    <div class="alert alert-info" role="alert"><font size="4px">当前位置是：权限管理->添加权限信息</font></div>
                <span style="float:right;margin-right: 8px;font-weight: bold">
                    <a style="text-decoration: none" href="__CONTROLLER__/showlist">【返回】</a>
                </span>
            </span>
        <!--  </div> -->
        

        <div style="font-size: 13px;margin: 10px 5px">
		  <form action="__CONTROLLER__/add" method="post">
		     <div class="table-responsive">
					<table class="table table-striped">
					   <tr><td><div class="input-group input-group-mg">
									  <span class="input-group-addon" id="basic-addon1"><txt>权限名称</txt></span>
										 <input type="text"  name="auth_name" class="form-control" placeholder="权限名称" aria-describedby="basic-addon1">
							   </div></td></tr>
					   <tr><td>
					        <div class="input-group input-group-mg">
                            <span class="input-group-addon" id="sizing-addon1"><txt>权限父级</txt></span>
						           <select class="form-control" name="auth_pid">
										<option value="0"><font color="gray">请选择</font></option>
											<?php foreach($info as $k=>$v):?>
											<option value="<?php echo $v['auth_id']; ?>">{$v.auth_name}</option>
										<?php endforeach;?>
                                 </select>
					        </div>
					   </td></tr>
					   <tr><td>
					        <div class="input-group input-group-mg">
									  <span class="input-group-addon" id="basic-addon1"><txt>权限控制器</txt></span>
										 <input type="text"  name="auth_module" class="form-control" placeholder="权限名称" aria-describedby="basic-addon1">
							   </div>
					   
					   </td></tr>
					   <tr><td>
					        <div class="input-group input-group-mg">
									  <span class="input-group-addon" id="basic-addon1"><txt>权限操作方法</txt></span>
										 <input type="text" class="form-control" placeholder="权限名称"  name="auth_action" aria-describedby="basic-addon1">
							   </div>
					   </td></tr>
					   <tr>
					      <td>
						   <div id="loca"><button class="btn btn-info" type="submit" onclick="return yesOrNo()">确认</button></div>
						  </td>
					   </tr>
					</table>
		     </div>
			                             <script>
                                    function yesOrNo(){
									var status=false;//接受用户选的状态,默认不会提交
									
									status=confirm("亲，您要确认吗",true,false);//点确认返回true,否则返回false;
									return status;
									/*
									alert(status);
										  if(status==true){
										     return true;//当返回true时，表单会被提交
										     alert("确认");
										  }else{
										    // alert("no");
											 return false;//返回false不会被提交
										  }
										  alert("确认");*/
									  }
                            </script>							
          </form>			 
            
        </div>
    </body>
</html>